﻿@model WebApplication4.Controllers.MyViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Employee.FirstName" class="control-label"></label>
                <input asp-for="@Model.Employee.FirstName" class="form-control" />
                <span asp-validation-for="@Model.Employee.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Employee.LastName" class="control-label"></label>
                <input asp-for="@Model.Employee.LastName" class="form-control" />
                <span asp-validation-for="@Model.Employee.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Employee.Email" class="control-label"></label>
                <input asp-for="@Model.Employee.Email" class="form-control" />
                <span asp-validation-for="@Model.Employee.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Employee.Phone" class="control-label"></label>
                <input asp-for="@Model.Employee.Phone" type="number" class="form-control" />
                <span asp-validation-for="@Model.Employee.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Employee.Company" class="control-label"></label>
                <select asp-for="@Model.Employee.CompanyEmail" asp-items="@(new SelectList(Model.CompanyList, "Email", "Name"))" class="form-control"></select>
                <span asp-validation-for="@Model.Employee.CompanyEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
