﻿@{
    Layout = null;
}

@model WebApplication4.Controllers.MyViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Employee</h4>
<hr />
<div class="row" style="margin-left: 0px; margin-right: 0px;">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Employee.FirstName" class="control-label"></label>
                <input asp-for="@Model.Employee.FirstName" class="form-control" />
                <span asp-validation-for="@Model.Employee.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Employee.LastName" class="control-label"></label>
                <input asp-for="@Model.Employee.LastName" class="form-control" />
                <span asp-validation-for="@Model.Employee.LastName" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="@Model.Employee.Email" />
            <div class="form-group">
                <label asp-for="@Model.Employee.Phone" class="control-label"></label>
                <input asp-for="@Model.Employee.Phone" type="number" class="form-control" />
                <span asp-validation-for="@Model.Employee.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Employee.Company" class="control-label"></label>
                <select asp-for="@Model.Employee.CompanyEmail" asp-items="@(new SelectList(Model.CompanyList, "Email", "Name"))" class="form-control"></select>
                <span asp-validation-for="@Model.Employee.CompanyEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
