﻿@model IEnumerable<WebApplication4.Models.Company>

@{
    ViewData["Title"] = "Index";
    int index = 1;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="table_company" class="display">
    <thead>
        <tr>
            <th>
                Index
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @index
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Logo)
                </td>
                <td>
                    <a href="@item.Website">@Html.DisplayFor(modelItem => item.Website)</a>
                </td>
                <td>
                    <a href="#" data-id="@item.Email" class="edit">Edit</a> |
                    <a href="#" data-id="@item.Email" class="delete">Delete</a>
                </td>
            </tr>
            index++;
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#table_company').DataTable();

        $(".edit").click(function (e) {
            e.preventDefault();
            var id = $(this).attr("data-id");
            $.ajax({
                url: "/companies/edit/" + id,
                success: function (html) {
                    Swal.fire({
                        html: html,
                        showConfirmButton: false
                    });
                }
            });
        });

        $(".delete").click(function (e) {
            e.preventDefault();
            var id = $(this).attr("data-id");
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            })
            .then((willDelete) => {
                if (willDelete.isConfirmed) {
                    $.ajax({
                        type: "POST",
                        url: "/companies/delete/" + id,
                        success: function () {
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            )
                            .then(function () {
                                window.location.href = "/companies";
                            });
                        }
                    });
                }
            });
        });
    });
</script>